<?php

$variables = [
    'DB_HOST' => 'mysql',
    'DB_USERNAME' => 'auth_user',
    'DB_PASSWORD' => 'auth_pass',
    'DB_NAME' => 'auth_db',
    'DB_PORT' => '3320',
];

foreach ($variables as $key => $value) {
    putenv("$key=$value");
}